# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
print(s.split())

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print('The diameter of {0} is {1} ' .format('Earth','12742'))

The diameter of Earth is 12742

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
ar=np.array([0,0,0,0,0,0,0,0,0,0])
print(ar)

[0 0 0 0 0 0 0 0 0 0]

In [ ]:
ar=np.array([5,5,5,5,5,5,5,5,5,5])
print(ar)

[5 5 5 5 5 5 5 5 5 5]

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
ar=np.arange(20,35,2)
print(ar)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
ar=np.arange(0,9).reshape(3,3)
print(ar)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
ae=np.concatenate((a,b),axis=0)
print(ae)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
data = [['tom', 10], ['nick', 15], ['juli', 14]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import pandas as pd
data = [[1,'Jan',2023], [2,'Jan',2023],[3,'Jan',2023]]
df = pd.DataFrame(data, columns=['Date', 'Month','Year'])
print(df)

   Date Month  Year
0     1   Jan  2023
1     2   Jan  2023
2     3   Jan  2023

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
import pandas as pd
df = pd.DataFrame(lists, columns=['Number', 'Name','Age'])
print(df)

   Number Name  Age
0       1  aaa   22
1       2  bbb   25
2       3  ccc   24